Repository DanielWarg/Alice: changes, and which Codecov flags are due for each by the changed paths.
All: python, web

📋 Add manual GitHub default branch fix instructions
  GITHUB_DEFAULT_BRANCH_FIX.md
Due: none

🎉 GitHub default branch fixed - remove manual fix instructions
  GITHUB_DEFAULT_BRANCH_FIX.md
Due: none

🚀 Complete TESTING.md + Massive Category 17,10,23 Infrastructure
  .github/workflows/nightly-smoke-tests.yml
  .github/workflows/nlu-quality.yml
  TESTING.md
  THIRD_PARTY_LICENSES.md
  TTS_LICENSES.md
  docs/GDPR_COMPLIANCE.md
  docs/PRIVACY_AUDIT.md
  docs/STT_WHISPER_GUIDE.md
  docs/THREAT_MODEL.md
  docs/TTS_PIPER_GUIDE.md
  docs/VOICE_PIPELINE.md
  docs/WAKE_WORD_TUNING.md
  prio1.md
  server/BACKUP_RESTORE.md
  server/LICENSE_COMPLIANCE.md
  server/alice_backup
  server/app.py
  server/backup_restore.py
  server/requirements.txt
  server/security.py
  server/test_gmail_calendar_security.py
  server/test_spotify_simple.py
  server/tests/test_spotify_integration.py
  server/tests/test_swedish_datetime_parsing.py
  server/verify_gmail_calendar_security.py
  server/voice_calendar_parser.py
  server/voice_stt.py
  tests/wake_word_testing_checklist.md
  web/components/CalendarWidget.tsx
  web/components/VoiceBox.tsx
  web/package-lock.json
  web/package.json
  web/tests/README.md
  web/tests/hud-components.spec.ts
  web/tests/voicebox-rendering.spec.ts
  web/tests/voicebox.spec.ts
Due: python, web

🚀 Complete Categories 2,6,11 + Massive Infrastructure Improvements
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  .yamllint.yml
  Makefile
  SUPPORT.md
  alice-tools/.eslintrc.js
  alice-tools/.prettierrc.js
  alice-tools/package.json
  alice-tools/tsconfig.json
  nlu-agent/.eslintrc.js
  nlu-agent/.prettierrc.js
  nlu-agent/package.json
  nlu-agent/tsconfig.json
  prio1.md
  scripts/setup-dev-env.sh
  server/app.py
  server/error_handlers.py
  server/http_client.py
  server/pyproject.toml
  server/rate_limiter.py
  server/requirements-dev.txt
  server/security.py
  server/validators.py
  web/tsconfig.json
Due: python, web

🚀 Complete Categories 12,14 + Git Workflow + VoiceClient Fix + Codebase Audit
  .github/workflows/test-backend.yml
  .github/workflows/test-frontend.yml
  .github/workflows/test-integration.yml
  AUTHENTICATION_SECURITY_SUMMARY.md
  docs/DEVELOPER_TESTING_GUIDE.md
  docs/GIT_WORKFLOW.md
  prio1.md
  server/app.py
  server/auth_integration.py
  server/auth_models.py
  server/auth_rate_limiter.py
  server/auth_router.py
  server/auth_service.py
  server/database.py
  server/deps.py
  server/oauth_service.py
  server/requirements.txt
  web/@/components/ui/animated-progress.tsx
  web/@/components/ui/index.ts
  web/@/components/ui/loading-spinner.tsx
  web/@/components/ui/message-display.tsx
  web/@/components/ui/status-indicator.tsx
  web/@/components/ui/system-health-dashboard.tsx
  web/@/components/ui/toast.tsx
  web/@/components/ui/voice-activity-indicator.tsx
  web/app/components/VoiceClient.tsx
  web/app/hud-demo/components/HUDShowcase.tsx
  web/public/sw.js
  web/types/hud.ts
Due: python, web

🔧 Fix critical loose ends - Exception handling and TODOs
  server/app.py
  server/core/agent_critic.py
  server/core/agent_executor.py
  server/validators.py
  server/voice_calendar_responses.py
  server/voice_stt.py
Due: python

🔧 Complete loose ends audit - Production-ready fixes
  server/app.py
  server/tests/test_database.py
  server/tests/test_metrics.py
  server/tests/test_validators_module.py
  web/app/page.jsx
Due: python, web

📝 Update audit status - All critical loose ends resolved
  prio1.md
Due: none

✅ Complete Medium Priority Issues + Comprehensive QA - Production Ready
  Dockerfile.backend
  Dockerfile.frontend
  Makefile
  docker-compose.yml
  monitoring/alice_alerts.yml
  monitoring/prometheus.yml
  prio1.md
  server/app.py
  server/auth_models.py
  server/auth_router.py
  server/core/agent_executor.py
  server/database.py
  server/metrics.py
Due: python

🎨 Complete UI/UX Review & Design Fixes - Professional Interface Polish
  web/app/page.jsx
  web/components/CalendarWidget.tsx
Due: web

📚 Complete Hybrid Architecture Documentation Update
  .env.example
  DEVELOPMENT.md
  README.md
  VOICE_SETUP.md
  docs/OPERATIONS.md
  docs/PRIVACY_MODEL.md
  docs/VOICE_HYBRID_ARCHITECTURE.md
  docs/sv/DEVELOPMENT.md
  docs/sv/VOICE_SETUP.md
  prio1.md
Due: none

🎙️ Phase 1: Voice-Gateway Hybrid Architecture - Complete Implementation
  .env.example
  .gitignore
  server/app.py
  server/audio_processor.py
  server/intent_router.py
  server/test_voice_gateway_phase1.py
  server/voice_gateway.py
  web/components/VoiceGatewayClient.tsx
Due: python, web

⚡ Phase 2: OpenAI Realtime Integration - Blixtsnabb Hybrid Voice Complete
  .env.example
  server/fast_path_handler.py
  server/openai_realtime_client.py
  server/test_voice_phase2_integration.py
  server/think_path_handler.py
  server/voice_gateway.py
  web/components/VoiceGatewayClient.tsx
Due: python, web

🚫 BROKEN: VoiceGateway Integration Attempt - NOT WORKING
  web/app/page.jsx
  web/components/AmbientVisualizer.tsx
  web/components/AudioVisualizer.tsx
  web/components/MicrophoneButton.tsx
  web/components/VoiceBox.tsx
  web/components/VoiceGatewayClient.tsx
  web/components/VoiceInterface.tsx
  web/components/WaveVisualizer.tsx
  web/package-lock.json
  web/package.json
  web/public/voice-debug.js
Due: web

🎙️ Fixa röststyrd chat genom Browser SpeechRecognition + CORS
  server/security.py
  web/components/CalendarWidget.tsx
  web/components/VoiceBox.tsx
  web/components/lib/http.ts
  web/components/lib/voice-trace.ts
Due: python, web

📚 Uppdaterar dokumentation: Verklighet vs Vision
  API.md
  DEVELOPMENT.md
  PROJECT_STATUS.md
  README.md
  VOICE_SETUP.md
Due: none

🔧 P0-Fix: Standardisera portar - Frontend 3000, Backend 8000
  .github/PULL_REQUEST_TEMPLATE.md
  API.md
  DEPLOYMENT.md
  DEVELOPMENT.md
  PROJECT_STATUS.md
  README.md
  TROUBLESHOOTING.md
  docs/sv/DEPLOYMENT.md
  docs/sv/DEVELOPMENT.md
  docs/sv/TROUBLESHOOTING.md
  server/security.py
Due: python

🔐 P0-Fix: Secrets hygien + Google Integration Setup
  .gitignore
  docs/GOOGLE_SETUP.md
  server/.env.example
  web/.env.local.example
Due: python, web

🚀 P1-Fix: CI/CD Pipeline Minimum - Tests + Guards + Secrets
  .github/workflows/backend-tests.yml
  .github/workflows/frontend-tests.yml
  .github/workflows/guard-ports.yml
  .github/workflows/secrets-scan-simple.yml
Due: none

🎤 PR #4: VoiceGateway Landing Zone - Health + WebSocket Skeleton
  server/app.py
  server/services/probe_api.py
  server/services/voice_gateway.py
Due: python

🎨 PR #5: Frontend Voice Infrastructure - HealthMonitor + Orchestrator
  server/services/__init__.py
  web/src/voice/HealthMonitor.ts
  web/src/voice/Orchestrator.ts
  web/src/voice/VoiceStatusBadge.tsx
  web/src/voice/clients/LaptopClient.ts
  web/src/voice/clients/ProbeClient.ts
  web/src/voice/index.ts
Due: python, web

🎙️ Implementerar B2 - Barge-in & Echo-skydd System
  B2_DOCUMENTATION.md
  B2_REQUIREMENTS_ANALYSIS.md
  TESTLOGG_KOMPLETT_B2.md
  TESTLOGG_OPTIMERING_B2.md
  test_b2_barge_in.py
  test_b2_complete_system.py
  test_b2_echo_cancellation.py
  test_b2_optimization.py
  web/src/voice/AudioStateManager.ts
  web/src/voice/BargeInDetector.ts
  web/src/voice/EchoCanceller.ts
  web/src/voice/EnhancedOrchestrator.ts
Due: web

🔧 B3 Production Polish: Complete Integration & Remove All Gaps
  server/app.py
  server/b3_ambient_transcriber.py
  server/b3_ambient_voice.py
  server/b3_barge_in_controller.py
  server/b3_privacy_hooks.py
Due: python

🔧 Fix Multiple System Issues: OpenAI Auth + TTS + RAG Variables
  server/app.py
Due: python

🎙️ Voice Pipeline v1 Complete: Batch Processing with Optimizations
  B4_IMPLEMENTATION_PLAN.md
  VOICE_PIPELINE_STATUS.md
  debug_latency.js
  debug_tts.js
  server/agent/pattern_recognizer.py
  server/agent/proactive_trigger.py
  server/data/alice.db
  server/export/proactive_report_20250825.md
  server/openai_realtime_client.py
  server/proactive_router.py
  server/proactive_shadow.py
  server/voice_always_on.py
  web/app/page.jsx
  web/components/HeaderStatusBar.jsx
  web/components/LLMStatusBadge.tsx
  web/components/ProactiveToast.tsx
  web/components/SettingsDialog.jsx
  web/components/VoiceBox.tsx
  web/components/WaveVisualizer.tsx
  web/next.config.mjs
Due: python, web

📚 Documentation Reality Check: Align docs with actual voice pipeline status
  ALICE_ROADMAP.md
  CRITICAL_STATUS_GAPS.md
  DEVELOPMENT.md
  README.md
  STARTUP.md
  VISION.md
  docs/API_STREAMING_VOICE.md
Due: none

🎯 Streaming Voice Pipeline Complete: Sub-500ms Real-time Audio Processing
  server/services/voice_gateway/main.py
  server/services/voice_gateway/streaming_metrics.py
  server/services/voice_gateway/talk_client.py
  test_simple_streaming.html
  test_webrtc_streaming.html
Due: python

🔧 Fix Alice startup after voice pipeline cleanup
  server/app.py
  web/components/VoiceBox.tsx
Due: python, web

🎙️ Complete Streaming Voice Pipeline: ASR → LLM Integration
  ALICE_ROADMAP.md
  voice/create_test_audio.py
  voice/server/adapters/asr_faster_whisper.py
  voice/server/adapters/llm_gpt_oss.py
  voice/server/asr_integration.py
  voice/server/voice_pipeline_server.py
Due: none

🤖 Agent Integration Complete: Voice-to-Agent Toolcalling Pipeline
  web/app/api/agent/route.ts
  web/app/api/metrics/voice/assert/route.ts
  web/app/api/metrics/voice/reset/route.ts
  web/app/api/metrics/voice/route.ts
  web/app/api/tools/timer.set/route.ts
  web/app/api/tools/weather.get/route.ts
  web/components/VoiceRealtimeInterface.tsx
  web/lib/agent-client.ts
  web/lib/voice-binding.ts
Due: web

🛡️ Release Hardening Complete: Production-Ready Monitoring & Safety
  web/app/api/health/ready/route.ts
  web/app/api/health/route.ts
  web/app/api/monitoring/dashboard/route.ts
  web/lib/error-boundary.tsx
  web/lib/feature-flags.ts
  web/lib/monitoring.ts
  web/lib/rate-limiter.ts
Due: web

🔧 Fix TypeScript path resolution for health checks
  web/tsconfig.json
Due: web

🚀 Production-Ready Voice Interface: Complete Security & Documentation Update
  web/.env.local.example
  web/VOICE_ADAPTER_README.md
  web/app/ambient-demo/page.tsx
  web/app/api/agent/route.ts
  web/app/api/health/route.ts
  web/app/components/VoiceClientExample.tsx
  web/app/page.jsx
  web/app/voice-test/page.tsx
  web/components/B3AmbientVoiceHUD.tsx
  web/components/ConsentModal.tsx
  web/components/DeviceTestPanel.tsx
  web/components/SyntheticBadge.tsx
  web/components/VoiceBox.tsx
  web/components/VoiceGatewayClient.tsx
  web/lib/agent-client.ts
  web/lib/consent-store.ts
  web/lib/content-filter.ts
  web/lib/device-detector.ts
  web/lib/fallback-engine.ts
  web/lib/self-test-runner.ts
  web/lib/soak-test-runner.ts
  web/lib/wake-word-detection.js
  web/next.config.mjs
  web/package-lock.json
  web/package.json
  web/public/sw.js
  web/test-agent-contracts.js
  web/test-stability.js
Due: web

Path conditions:
  python: any of: server/, but not: server/tests/, server/**/*test*.py, web/tests/, web/**/*.spec.ts, web/**/*.test.ts, **/node_modules/, **/__pycache__/, **/dist/, **/build/, .github/, docs/
  web: any of: web/, but not: server/tests/, server/**/*test*.py, web/tests/, web/**/*.spec.ts, web/**/*.test.ts, **/node_modules/, **/__pycache__/, **/dist/, **/build/, .github/, docs/
