Repository DanielWarg/Alice: changes, and which Codecov flags are due for each by the changed paths.
All: python, web

codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 80%
        threshold: 2%
        base: auto
        informational: false
        only_pulls: false
    patch:
      default:
        target: 70%
        threshold: 5%
        base: auto
        informational: false
        only_pulls: true

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,tree,footer"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  show_critical_paths: yes

flags:
  python:
    paths:
      - "server/"
    carryforward: false
  web:
    paths:
      - "web/"
    carryforward: false

ignore:
  - "server/tests/"
  - "server/**/*test*.py"
  - "web/tests/"
  - "web/**/*.spec.ts"
  - "web/**/*.test.ts"
  - "**/node_modules/"
  - "**/__pycache__/"
  - "**/dist/"
  - "**/build/"
  - ".github/"
  - "docs/"

📚 Complete Documentation Update for FAS2 Architecture
  ARCHITECTURE.md
  GETTING_STARTED.md
  README.md
  archive/old_tests_cleanup_20250827/validate_test_system.py
  start_alice.sh
Due: none

🔗 Backend Integration Complete: Frontend ↔ Backend Connectivity Established
  MODULE_STATUS.md
  SYSTEM_ARCHITECTURE.md
  server/app_minimal.py
  web/app/page.jsx
Due: python, web

🛡️ Guardian 2.0: Advanced AI Safety with Intelligent Auto-Tuning
  GUARDIAN_HYSTERESIS_IMPLEMENTATION.md
  server/app_minimal.py
  server/guardian/GRACEFUL_KILLSWITCH_README.md
  server/guardian/brownout_manager.py
  server/guardian/demo_guardian.py
  server/guardian/guardian.py
  server/guardian/kill_sequence.py
  server/guardian/logger.py
  web/app/api/metrics/guardian/alerts/route.ts
  web/app/api/metrics/guardian/analyze/route.ts
  web/app/api/metrics/guardian/correlation/route.ts
  web/app/api/metrics/guardian/history/route.ts
  web/app/api/metrics/guardian/route.ts
  web/app/api/metrics/guardian/summary/route.ts
  web/app/api/metrics/guardian/utils.ts
  web/app/guardian-metrics-test/page.tsx
  web/lib/guardian-metrics-hooks.ts
Due: python, web

📋 Update Architecture: Guardian 2.0 Enterprise Features Complete
  SYSTEM_ARCHITECTURE.md
Due: none

🚀 Alice Production-Ready: Complete Guardian Integration & Admission Control
  server/app_minimal.py
  server/brain_model.py
  server/log_json.py
  server/mw_guardian_gate.py
  server/mw_timeout.py
  start_alice.sh
  web/app/page.jsx
  web/components/GuardianStatusBadge.tsx
Due: python, web

🚀 Production Optimization Complete: Alice Performance Transformation
  OPTIMIZATION_PROGRESS.md
  SYSTEM_ARCHITECTURE.md
  server/app_minimal.py
  server/brain_model.py
  server/chat_models.py
  server/chat_service.py
  server/database.py
  server/database_router.py
  server/guardian/brownout_manager.py
  server/guardian/guardian.py
  server/k6_live_load_test.js
  server/llm/ollama.py
  server/mw_guardian_gate.py
  server/optimization_plan.py
  server/request_batcher.py
  server/response_cache.py
Due: python

📋 Documentation Reality Check: Release Candidate Status
  OPTIMIZATION_PROGRESS.md
  PRIOLISTA.md
Due: none

🏗️ Enterprise Validation Framework: 14-Day Soak Testing Infrastructure
  ENTERPRISE_TEST_GUIDE.md
  enterprise_metrics_analyzer.py
  enterprise_test_runner.sh
  k6_enterprise_soak.js
  telemetry_validator.py
Due: none

🔧 Critical Fixes: Chat System Now Fully Functional
  server/chat_service.py
  server/database.py
  server/llm/ollama.py
  server/model_warmer.py
Due: python

🎙️ Voice Pipeline Plan + Agent Integration Complete
  PRIOLISTA.md
  VOICE_PIPELINE_PLAN.md
  server/app_minimal.py
  server/core/agent_executor.py
  server/core/agent_orchestrator.py
  server/core/agent_planner.py
  server/core/tool_registry.py
  server/core/tool_specs.py
Due: python

🎙️ Voice Pipeline Plan - Personlig Version (Enterprise-fri)
  VOICE_PIPELINE_PLAN.md
Due: none

🎙️ Voice Pipeline Foundation: HTTP TTS Architecture
  VOICE_PIPELINE_PLAN.md
  VOICE_PIPELINE_STATUS.md
  server/voice/input_processor.py
Due: python

🎙️ Complete Voice Pipeline Implementation
  VOICE_PIPELINE_STATUS.md
  server/voice/orchestrator.py
  server/voice/performance_monitor.py
  server/voice/piper_fallback.py
  server/voice/tts_client.py
  server/voice/voice_cache.py
Due: python

🎙️ Voice v2 System: Start TTS+Ack Architecture
  SYSTEM_ARCHITECTURE.md
  VOICE_V2_SYSTEM_OVERVIEW.md
  old/voice_files_cleanup_20250829/VOICE_FASTLANE_IMPLEMENTATION.md
  old/voice_files_cleanup_20250829/VOICE_PIPELINE_OPTIMIZATION_SUMMARY.md
  old/voice_files_cleanup_20250829/VOICE_PIPELINE_PLAN.md
  old/voice_files_cleanup_20250829/VOICE_PIPELINE_STATUS.md
  old/voice_files_cleanup_20250829/voice_complete_demo.py
  old/voice_files_cleanup_20250829/voice_performance_dialog.py
  old/voice_files_cleanup_20250829/voice_pipeline_complete_test.py
  old/voice_files_cleanup_20250829/voice_test_server.py
  old/voice_files_cleanup_20250829/voice_translation_demo.py
  server/routes/tts.py
  server/voice/dual_ollama_clients.py
  server/voice/fast_orchestrator.py
  server/voice/guardian_voice_policy.py
  server/voice/llm_router.py
  server/voice/normalizer.py
  server/voice/phrase_cache_warmer.py
  server/voice/priority_queue.py
  server/voice/production_config.py
  server/voice/simple_normalizer.py
  server/voice/simple_router.py
  server/voice/ttfa_monitor.py
  server/voice/tts_client.py
  server/voice_test_api.py
Due: python

🎙️ Voice v2 Complete: ASR + TTS Pipeline Implementation
  server/app_minimal.py
  server/routes/asr.py
  server/routes/brain_mail_count.py
  server/routes/tts.py
  server/voice_v2_2min_test.py
  server/voice_v2_piper_analysis.py
  voice_v2_complete_test.html
Due: python

🎙️ Voice v2 Production Audio Fix: Real MP3 Generation
  server/app_minimal.py
  server/piper_sim_audio.py
  server/routes/tts.py
  server/voice_v2_real_e2e_test.py
  web/next.config.mjs
Due: python, web

🧹 Voice v2 Cleanup: Remove Temporary Test Files
  server/gpt_oss_evaluation.py
  server/k6_live_load_test.js
  server/memory_test.py
  server/performance_test.py
  server/voice/ack_warmer.py
  server/voice_test_api.py
  server/voice_v2_2min_test.py
  server/voice_v2_piper_analysis.py
  server/voice_v2_real_e2e_test.py
  voice_v2_complete_test.html
  web/app/api/tts-old/openai-stream/route.js
  web/app/api/tts-old/route.ts
  web/components/VoiceV2Interface.tsx
  web/lib/voice/ack-flow.ts
  web/public/mic-test.js
  web/public/voice-complete.html
Due: python, web

📚 System Documentation Update: SYSTEM.md + AGENTS.md
  AGENTS.md
  ALICE_SYSTEM_TEST_GUIDE.md
  MODULE_STATUS.md
  SYSTEM.md
Due: none

📋 STRICT Requirements: Ports + .venv ICKE-FÖRHANDLINGSBART
  AGENTS.md
  SYSTEM.md
Due: none

📋 Opus Voice Module Plan - Production Swedish TTS Implementation
  opusvoicemoduleplaning.md
Due: none

🎯 FAS 1 COMPLETE: Real Swedish TTS Implementation
  AGENTS.md
  SYSTEM.md
  claude_live_voice_test.py
  package-lock.json
  package.json
  sanity.js
  server/app_minimal.py
  server/nlu_intent_classifier.py
  server/piper_sim_audio.py
  server/real_whisper_asr.py
  server/routes/asr.py
  server/tts_engine.py
  server/voice_v2_test_results.ndjson
  web/public/voice-complete.html
Due: python, web

🗣️ BILINGUAL ALICE COMPLETE: Swedish Input → English Responses
  server/tts_engine.py
  web/public/voice-complete.html
Due: python, web

👩‍💼 ALICE VOICE PERFECTION: Female Voice + Quality Optimization
  server/tts_engine.py
Due: python

🔊 AUDIO QUALITY FIX: 192kbps + Audio Filters for Crystal-Clear Alice
  server/tts_engine.py
Due: python

🎯 FINAL ALICE VOICE CONFIGURATION: Amy #1, LJSpeech #2
  server/tts_engine.py
Due: python

🔊 ULTRA-CLEAN AUDIO: 256kbps + Advanced Noise Reduction
  server/tts_engine.py
Due: python

🎙️ STUDIO-GRADE AUDIO: Amy 320kbps + Maximum Noise Reduction
  server/tts_engine.py
Due: python

🎙️ VOICE MODULE COMPLETE: Real ASR→NLU→TTS Pipeline Working
  server/app_minimal.py
  server/core/tool_registry.py
  server/core/tool_specs.py
  server/core/weather_service.py
  web/public/voice-complete.html
Due: python, web

🎙️ VOICE MODULE PRODUCTION READY - Complete E2E Pipeline
  MODULE_STATUS.md
  VOICE_V2_SYSTEM_OVERVIEW.md
  web/public/voice-complete.html
Due: web

📚 Documentation Complete Update - Post Voice v2
  FRONTEND_MODULARIZATION_PLAN.md
  MODULE_STATUS.md
  SYSTEM_PERFORMANCE_NOTES.md
  VOICE_V2_SYSTEM_OVERVIEW.md
Due: none

📚 Documentation Audit Complete - Truth Alignment
  CURRENT_STATUS.md
  MODULE_STATUS.md
  OPTIMIZATION_PROGRESS.md
  PRIOLISTA.md
  SYSTEM.md
  SYSTEM_ARCHITECTURE.md
  opusvoicemoduleplaning.md
Due: none

🔧 CRITICAL DEPENDENCIES FIXED - System Now Deployment Ready
  DEPLOYMENT_SETUP_GUIDE.md
  MODULE_STATUS.md
  SYSTEM.md
  package-lock.json
  package.json
  voice-adapter/README.md
  voice-adapter/package.json
  web/public/sw.js
  web/public/workbox-860c9203.js
Due: web
